

body, html {
  height: 100%;
  margin: 0;
  font: 400 1em/1.8 "Lato", sans-serif;
  color: rgb(185, 182, 182);
}
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 3.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding: 12px 20px;;
  transition: background-color 1s ease-out;
  transition: color 1s ease-out;
  transition: box-shadow 0.5s ease-out;
  
}

nav span {
  z-index: 1;
  font-weight: 600;
  letter-spacing: 0.3em;
}

nav.scroll {
  box-shadow: 0px 4px 7px #777;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  color: #777;
  
}

nav a {
  font-size: 1.2em;
  text-decoration: none;
  left: 10px;
  color:rgb(58, 58, 58);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

nav a:hover {
  color: grey;
}
.space {
  padding: 20px
}
body > header {
  margin-top: 4.7em;
}
.img-1, .img-2, .img-3, .img-4 {
  z-index: -1;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img-1 {
  background-image: url("18usnwipag74ljpg.jpg");
  min-height: 100%;
}

.img-2 {
  background-image: url("p043lxcj.jpg");
  min-height: 400px;
}

.img-3 {
  background-image: url("1357922b6712244.jpg");
  min-height: 400px;
}

.img-4 {
  background-image: url("03Jun13_Anderson_killer-presentation.png");
  min-height: 400px;
}
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgba(17, 17, 17, 0);
  color: #fff;
  padding: 18px;
  font-size: 8em;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 7px;
  text-shadow: 2px 2px #00000062;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1.75em"Lato", sans-serif;
  color: #111;
}

.center{
  text-align: center;
}
.text1 {
  color: #777;
  background-color: white;
  text-align: center;
  font-size: 1.25em;
  padding: 50px 80px;
  text-align: justify;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}

.text2 {
  background-color: transparent;
  font-size: 2.5em;
  color: #f7f7f7;
  background-color: rgba(17, 17, 17, 0);
  padding: 18px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 7px;
  text-shadow: 2px 2px #00000062;

}

.text3 {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px; 
  text-align: justify;

}
.relativetext {
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


div.hidden {
  display: none
}

section {
  opacity: 0;
  
  transform: translate(0, 20px);
  transition: all 1s;
}

section.visible {
  opacity: 1;

  transform: translate(0,0);
}


div.fadein {
  opacity: 0;
  
  transform: translate(0, 20px);
  transition: all 1s;
}

div.fadein.visible {
  opacity: 1;

  transform: translate(0,0);
}

p {
  text-align: center;
}

.centerbutton {
  align-content: center;
}

.linky {
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
}

.column {
  margin: 25px;
  float: left;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100%;
}

.column:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.profpic{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

iframe {
  align-content: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-device-width: 1024px) {
  .img-1, .img-2, .img-3 {
      background-attachment: scroll;  
  }
  .caption span.border {
    font-size: 2em;
  }
  nav a {
    font-size: .5em
  }
}

.card {
  color: #777;
}